<!DOCTYPE html>
<html>
  <head>
    <title>AirBNB Dynamic Pricing</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <h1>AirBNB Dynamic Pricing</h1>
        <form method="post" action="/query-prices" >
          <legend>Sign up</legend>
          <fieldset>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" />
            </div>
            <div class="form-group">
              <label for="email">Email</label><input type="text" name="email" />
            </div>
            <input type="submit" class="btn btn-primary" value="Sign up" />
          </fieldset>
        </form>
      </div>
    </div>

  </body>
</html>
